section.the-pizza-dangky.main-section
	.container
		.form-wrapper
			.main-title 
				h2 THÔNG TIN TÀI KHOẢN
			form(action="")
				.wrap-form
					.title-account
						h3 vui lòng đăng nhập email
					.form-group
						input(type="text", name="" value="" placeholder="Email")
					.form-group.form-submit-next
						a(href="").submit-next
							span Tiếp tục
					.form-group.form-submit-fb
						a(href="").submit-fb
							em.ri-facebook-fill
							span Đăng nhập bằng facebook
					.form-group.form-submit-gg
						a(href="").submit-gg
							em.ri-facebook-fill
							span Đăng nhập bằng Google
