section.block_s-5
	.container
		.block-title
			.head-title
				h1 tin tức - sự kiện
		.news-event-swiper-wrapper
			.nav-arrow-prev
				em.fal.fa-angle-left
			.nav-arrow-next
				em.fal.fa-angle-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper.zoom-in
							a(href="#")
								img(src="./img/s-5/1.png", alt="")
						.caption_slide
							.title_slide
								a(href="") Những lợi ích tuyệt vời của dưa lưới
							.date
								time 04.03.2020
					.swiper-slide
						.wrapper.zoom-in
							a(href="#")
								img(src="./img/s-5/2.png", alt="")
						.caption_slide
							.title_slide
								a(href="") Tác dụng không ngờ của quả lựu
							.date
								time 04.03.2020
					.swiper-slide
						.wrapper.zoom-in
							a(href="#")
								img(src="./img/s-5/3.png", alt="")
						.caption_slide
							.title_slide
								a(href="") Mua Cherry ở đâu ngon và uy tín
							.date
								time 04.03.2020
					.swiper-slide
						.wrapper.zoom-in
							a(href="#")
								img(src="./img/s-5/4.png", alt="")
						.caption_slide
							.title_slide
								a(href="") Xoài cát chu đánh thức mọi vị giác và lợi tuyệt vời
							.date
								time 04.03.2020