section.forgot-pass.main-section
	.container
		.form-wrapper
			.main-title 
				h2 Quên mật khẩu
			form(action="")
				.wrap-form
					.title-account
						h3 vui lòng đăng nhập email
					.form-group
						input(type="text", name="" value="" placeholder="Email")
					.form-group.form-passwork
						input(type="submit" value ="Tiếp tục")

