section.the-pizza-tra-cuu.main-section
	.container
		.row
			.col-lg-4.col-xl-3
				.user-sidebar
					.head-box.userinfo
						p Tài khoản của 
						p.user-name Đào Thị Mỹ Trâm
						p.count Bạn có: 
							span 1500 
							| điểm
					.head-body.user-sidelink
						ul
							li.active
								a(href="information-general.html") Thông tin chung
							li
								a(href="information-member.html") Thông tin thành viên
							li
								a(href="information-history.html") Lịch sử mua hàng
							li
								a(href="information-search.html") Tra cứu đơn hàng
							li
								a(href="information-address.html") Số địa chỉ

			.col-lg-8.col-xl-9
				h1.main-title Tra cứu đơn hàng
				.box-tra-cuu
					form 
						.form-wrap 
							.form-group
								label Nhập số điện thoại hoặc mã đơn hàng
								input(type="text", name="" placeholder="Nhập số điện thoại hoặc mã đơn hàng ... ")
								button(type="submit") Tra cứu
