section.the-pizza-diachi.main-section
	.container
		.row
			.col-lg-3
				.user-sidebar
					.head-box.userinfo
						p Tài khoản của 
						p.user-name Đào Thị Mỹ Trâm
						p.count Bạn có: 
							span 1500 
							| điểm
					.head-body.user-sidelink
						ul
							li.active
								a(href="information-general.html") Thông tin chung
							li
								a(href="information-member.html") Thông tin thành viên
							li
								a(href="information-history.html") Lịch sử mua hàng
							li
								a(href="information-search.html") Tra cứu đơn hàng
							li
								a(href="information-address.html") Số địa chỉ
			.col-lg-9
				h2.main-title Số địa chỉ
				.table-address
					table
						tr
							td.title Băng Tâm
							td
								a(href="#").default
									em.mdi.mdi-check-circle-outline
									| Mặc định
							td.td-edit
								a(href="#").edit
									em.mdi.mdi-pencil
									| Chỉnh sửa
							td.td-delete
						tr
							td Địa chỉ:
							td 2/15 Cao Thắng, Phường 5, Quận 3, Hồ Chí Minh, Việt Nam
						tr
							td Điện thoại:
							td(colspan="3") 0908 406 524
				.table-address
					table
						tr
							td.title Lan Hương
							td
								
							td.td-edit
								a(href="#").edit
									em.mdi.mdi-pencil
									| Chỉnh sửa
							td.td-delete
								a(href="#").delete
									em.mdi.mdi-close-circle-outline
									| Xoá
						tr
							td Địa chỉ:
							td 98 Ngô Tất Tố Phường 19 Quận Bình Thạnh Hồ Chí Minh
						tr
							td Điện thoại:
							td(colspan="3") 0908 406 524
				.table-address
					table
						tr
							td.title Huỳnh Phú
							td
							td.td-edit
								a(href="#").edit
									em.mdi.mdi-pencil
									| Chỉnh sửa
							td.td-delete
								a(href="#").delete
									em.mdi.mdi-close-circle-outline
									| Xoá
						tr
							td Địa chỉ:
							td 81/14a phùng văn cung Phường 02 Quận Phú Nhuận Hồ Chí Minh
						tr
							td Điện thoại:
							td(colspan="3") 0908 406 524
				.table-address
					table
						tr
							td.title Thanh Đàn
							td
							td.td-edit
								a(href="#").edit
									em.mdi.mdi-pencil
									| Chỉnh sửa
							td.td-delete
								a(href="#").delete
									em.mdi.mdi-close-circle-outline
									| Xoá
						tr
							td Địa chỉ:
							td 1025/19E cách mạng tháng 8 Phường 07 Quận Tân Bình Hồ Chí Minh
						tr
							td Điện thoại:
							td(colspan="3") 0908 406 524
