section.block_product-promotion
	.container
		.block-title
			.head-title
				h1 sản phẩm khuyến mãi
			.head-menu
				ul
					li.active
						a(href="") giảm giá %
					li
						a(href="") mua 1 tặng 1
		.row
			.col-12.col-md-5.col-lg-5.fruit-big-promotion
				.fruit-promotion
					a(href="product-detail.html")
						.card_img
							.img
								img(src="./img/product/1.png", alt="")
							.block_sale
								.sale 
									p -15%
					a(href="product-detail.html").add-to-cart
						em.material-icons shopping_basket
						span Thêm giỏ hàng
					.name_promotion
						a(href="") Mận đỏ
					.type-promotion
						p Trái cây
					.price
						p 10.500đ / kg
					.discount
						p 90.000đ
			.col-12.col-md-7.col-lg-7.fruit-small-promotion
				.row
					.col-6.col-md-6.col-lg-4
						.promotion-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_promotion
								a(href="") Chuối vàng
							.type-promotion
								p Trái cây
							.price
								p 10.500đ / kg
							.discount
								p 90.000đ
					.col-6.col-md-6.col-lg-4
						.promotion-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_promotion
								a(href="") Chuối vàng
							.type-promotion
								p Trái cây
							.price
								p 10.500đ / kg
							.discount
								p 90.000đ
					.col-6.col-md-6.col-lg-4
						.promotion-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_promotion
								a(href="") Chuối vàng
							.type-promotion
								p Trái cây
							.price
								p 10.500đ / kg
							.discount
								p 90.000đ
					.col-6.col-md-6.col-lg-4
						.promotion-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_promotion
								a(href="") Chuối vàng
							.type-promotion
								p Trái cây
							.price
								p 10.500đ / kg
							.discount
								p 90.000đ
					.col-6.col-md-6.col-lg-4
						.promotion-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_promotion
								a(href="") Chuối vàng
							.type-promotion
								p Trái cây
							.price
								p 10.500đ / kg
							.discount
								p 90.000đ
					.col-6.col-md-6.col-lg-4
						.promotion-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_promotion
								a(href="") Chuối vàng
							.type-promotion
								p Trái cây
							.price
								p 10.500đ / kg
							.discount
								p 90.000đ


	.block_promotion-small
		.container
			.row
				.col.fruit-small-promotion
					.promotion-item
						a(href="product-detail.html")
							.card_img
								.img
									img(src="./img/s-3/1.png", alt="")
								.block_sale
									.sale 
										p -15%
						a(href="product-detail.html").add-to-cart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_promotion
							a(href="") Chuối vàng
						.type-promotion
							p Trái cây
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ
				.col.fruit-small-promotion
					.promotion-item
						a(href="product-detail.html")
							.card_img
								.img
									img(src="./img/s-3/1.png", alt="")
								.block_sale
									.sale 
										p -15%
						a(href="product-detail.html").add-to-cart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_promotion
							a(href="") Chuối vàng
						.type-promotion
							p Trái cây
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ
				.col.fruit-small-promotion
					.promotion-item
						a(href="product-detail.html")
							.card_img
								.img
									img(src="./img/s-3/1.png", alt="")
								.block_sale
									.sale 
										p -15%
						a(href="product-detail.html").add-to-cart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_promotion
							a(href="") Chuối vàng
						.type-promotion
							p Trái cây
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ
				.col.fruit-small-promotion
					.promotion-item
						a(href="product-detail.html")
							.card_img
								.img
									img(src="./img/s-3/1.png", alt="")
								.block_sale
									.sale 
										p -15%
						a(href="product-detail.html").add-to-cart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_promotion
							a(href="") Chuối vàng
						.type-promotion
							p Trái cây
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ
				.col.fruit-small-promotion
					.promotion-item
						a(href="product-detail.html")
							.card_img
								.img
									img(src="./img/s-3/1.png", alt="")
								.block_sale
									.sale 
										p -15%
						a(href="product-detail.html").add-to-cart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_promotion
							a(href="") Chuối vàng
						.type-promotion
							p Trái cây
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ