footer
	.footer-bottom
		.container
			.row
				.col-6.col-md-6.col-lg-2
					.icon-footer-bottom
						.icon-footer
							.img
								img(src="./img/icon-footer-1.png", alt="")
						.title-footer
							h4 kuyến mãi giá sỉ
						.text-footer
							p Cung cấp độc quyền sản phẩm tại thị trường Việt Nam
				.col-6.col-md-6.col-lg-2
					.icon-footer-bottom
						.icon-footer
							.img
								img(src="./img/icon-footer-2.png", alt="")
						.title-footer
							h4 Giao hàng miễn phí
						.text-footer
							p Giao hàng miễn phí với hóa đơn trên 1.000.000 đ
				.col-6.col-md-6.col-lg-2
					.icon-footer-bottom
						.icon-footer
							.img
								img(src="./img/icon-footer-3.png", alt="")
						.title-footer
							h4 Thanh toán an toàn
						.text-footer
							p Bằng cách các phương phúc phổ biến và an toàn nhất
				.col-6.col-md-6.col-lg-2
					.icon-footer-bottom
						.icon-footer
							.img
								img(src="./img/icon-footer-4.png", alt="")
						.title-footer
							h4 Tự tin mua sắm
						.text-footer
							p Bảo vệ người mua hàng từ lúc nhấp chuột đến nhận hàng
				.col-6.col-md-6.col-lg-2
					.icon-footer-bottom
						.icon-footer
							.img
								img(src="./img/icon-footer-5.png", alt="")
						.title-footer
							h4 Trợ giúp 24/7
						.text-footer
							p Chúng tôi hỗ trợ 24/7 cho trải nghiệm mua sắm của bạn thật nhẹ nhàng
				.col-6.col-md-6.col-lg-2
					.icon-footer-bottom
						.icon-footer
							.img
								img(src="./img/icon-footer-6.png", alt="")
						.title-footer
							h4 sản phẩm chất lượng
						.text-footer
							p Tất cả sản phẩm đều có bảo hành và khách có thể đổi trả ở các cửa hàng
	.footer-block
		.container
			.row
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card.pr-40
					.card__title
						h4 công ty cptm xuất nhật khẩu trái cây tấn lộc
					.card__body
						ul
							li
								span
									i.ri-map-pin-line
								p Địa chỉ: Tầng 4A, Vincom Center, 72 Lê Thánh Tôn, phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh
							li
								span
									i.ri-printer-line
								p Điện thoại: 0123456789
							li
								span
									i.ri-phone-line
								p Fax: 027456789
							li
								span
									i.ri-phone-line
								p Email: contact@tanlocfruit.com
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 chính sách công ty
					.card__body
						ul
							li
								a(href="") Điều khoản sử dụng
							li
								a(href="") Giao hàng
							li
								a(href="") chính sách bảo mật
							
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 hỗ trợ khách hàng
					.card__body
						ul
							li
								a(href="") Hướng dẫn đặt hàng
							li
								a(href="") FAQs
							li
								a(href="") Thanh toán online
							li
								a(href="")
									.img-foot
										img(src="./img/dadangky.png", alt="")

				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 Kết nối tấn lộc fruit
					.subsrcibe
						.subscribefrm
							input(type="text" placeholder='Nhập địa chỉ email')
							em.ri-arrow-right-fill
					.bottom-wrapper-news-detail
						.social-network-share
							.icon
								a(href="#")
									em.fab.fa-facebook-f
								a(href="#")
									em.fab.fa-youtube
	.footer-copyright
		.container
			.policy-link
				ul
					li
						a(href="#") Điều khoản sử dụng
					li
						a(href="#") Chính sách bảo mật
					li
						a(href="#") Sitemap
			.copyright
				p Copyright © 2020 Tấn Lộc Fruit. Thiết kế website bởi Cánh Cam.