.block__tool.dekstop
	#back-to-top
		img(src="./img/top.png", alt="", srcset="")
	ul
		li
			a(href="").icon
				em.ri-phone-fill
			a(href="").caption
				//- p 099.999.9696
		li
			a(href="")
				em.ri-messenger-fill