section.footer-top
	.container
		.row
			.col-12.col-md-3.col-lg-3
				.logo-footer
					.img
						img(src="./img/logo-footer.png", alt="")
			.col-12.col-md-9.col-lg-9
				.desc-footer
					p Với Tán Lộc Fruit, chúng tôi mang đến nguồn thực phẩm tốt, sạch, phong phú và nhiều dinh dưỡng, thân thiết với môi trường nhằm chia sẻ những lo lắng của khách hàng khi chọn mua thực phẩm hàng ngày cho gia đình
				.btn-footer
					.btn-more
						a(href="") xem thêm
							em.ri-add-line
					.img-footer
						img(src="./img/footer-top.png", alt="")