section.block_s-2
	.container
		.block-title
			.head-title
				h1 sản phẩm hot
			.head-menu
				.tab-panels
					ul.tab-navigation
						li.active
							a(href="javascript:void(0)" data-type='fruit-tab-1') sản phẩm mới
						li
							a(href="javascript:void(0)" data-type='fruit-tab-2') sản phẩm bán chạy
			.tab-wrapper.trinity-item-swiper
				.tab-item.active#fruit-tab-1
					.home-product-news-swiper-wrapper
						.nav-arrow-prev
							em.fal.fa-angle-left
						.nav-arrow-next
							em.fal.fa-angle-right
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.big_product-img
											.img
												img(src="./img/s-2/1.png", alt="")
											.block_sale
												.sale
													p New
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
										.big_product-main
											.name_product
												a(href="") Nước ép kiwi hạt chia
											.type-product
												p Trái cây nhập khẩu
											.price
												p 20.000 đ / kg
								.swiper-slide
									.wrapper
										.big_product-img
											.img
												img(src="./img/s-2/2.png", alt="")
											.block_sale
												.sale
													p New
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
										.big_product-main
											.name_product
												a(href="") Đu đủ ruột đỏChuối vàng Chuối vàng Chuối vàng Chuối vàng
											.type-product
												p Trái cây nhập khẩu
											.price
												p 20.500 đ / kg
								.swiper-slide
									.wrapper
										.big_product-img
											.img
												img(src="./img/s-2/3.png", alt="")
											.block_sale
												.sale
													p New
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
										.big_product-main
											.name_product
												a(href="") Súp lơ canh hữu cơ
											.type-product
												p Rau củ quả
											.price
												p 20.500 đ / kg
								.swiper-slide
									.wrapper
										.big_product-img
											.img
												img(src="./img/s-2/4.png", alt="")
											.block_sale
												.sale
													p New
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
										.big_product-main
											.name_product
												a(href="") Ớt chuông đà lạt
											.type-product
												p Rau củ quả
											.price
												p 20.500 đ / kg
								.swiper-slide
									.wrapper
										.big_product-img
											.img
												img(src="./img/s-2/5.png", alt="")
											.block_sale
												.sale
													p New
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
										.big_product-main
											.name_product
												a(href="") Cam mỹ không hạt
											.type-product
												p Trái cây
											.price
												p 20.500 đ / kg
	.mask
	.modal-ads
		.img-modal
			.img
				img(src="./img/sale-banner.jpg", alt="")
		button.close X