section.block_product-overview
	.container
		.block-title
			.head-title
				h1 Sản phẩm
		.name_category-fruit
			.title-zone
				h2 Trái cây
			.btn-view-more
				a(href="product-list.html") Xem tất cả
		.row
			.col-12.col-md-5.col-lg-5.fruit-big
				.fruit-overview
					a(href="product-detail.html")
						.card_img
							.img
								img(src="./img/product/1.png", alt="")
							.block_sale
								.sale 
									p -15%
					a(href="#").add-to-cart.addtocart
						em.material-icons shopping_basket
						span Thêm giỏ hàng
					.name_fruit
						a(href="product-detail.html") Mận đỏ
					.type-fruit
						p Trái cây
					.item-money
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ
			.col-12.col-md-7.col-lg-7.fruit-small
				.row
					.col-6.col-md-6.col-lg-4
						.fruit-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.block_sale
										.gift
											i.fas.fa-gift
										.sale 
											p -15%
							a(href="#").add-to-cart.addtocart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="product-list.html") Mận đỏ
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col-6.col-md-6.col-lg-4
						.fruit-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.block_sale
										.gift
											i.fas.fa-gift
										.sale 
											p -15%
							a(href="#").add-to-cart.addtocart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="product-list.html") Mận đỏ
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col-6.col-md-6.col-lg-4
						.fruit-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.block_sale
										.gift
											i.fas.fa-gift
										.sale 
											p -15%
							a(href="#").add-to-cart.addtocart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="product-list.html") Mận đỏ
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col-6.col-md-6.col-lg-4
						.fruit-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.block_sale
										.gift
											i.fas.fa-gift
										.sale 
											p -15%
							a(href="#").add-to-cart.addtocart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="product-list.html") Mận đỏ
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col-6.col-md-6.col-lg-4
						.fruit-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.block_sale
										.gift
											i.fas.fa-gift
										.sale 
											p -15%
							a(href="#").add-to-cart.addtocart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="product-list.html") Mận đỏ
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col-6.col-md-6.col-lg-4
						.fruit-item
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.block_sale
										.gift
											i.fas.fa-gift
										.sale 
											p -15%
							a(href="#").add-to-cart.addtocart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="product-list.html") Mận đỏ
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ

	.block_vegetable
		.container
			.name_category-vegetable
				.title-zone
					h2 Rau củ quả
				.btn-view-more
					a(href="product-list.html") Xem tất cả
			.row
				.col-12.col-md-5.col-lg-5.vegetable-big
					.vegetable-overview
						a(href="product-detail.html")
							.card_img
								.img
									img(src="./img/product/2.png", alt="")
								.block_sale
									.sale 
										p -15%
						a(href="#").add-to-cart.addtocart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_vegetable
							a(href="product-list.html") Cà rốt Đà Lạt
						.type-vegetable
							p Trái cây
						.item-money
							.price
								p 10.500đ / kg
							.discount
								p 90.000đ
				.col-12.col-md-7.col-lg-7.vegetable-small
					.row
						.col-6.col-md-6.col-lg-4
							.vegetable-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/2.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.vegetable-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/2.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.vegetable-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/2.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.vegetable-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/2.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.vegetable-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/2.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.vegetable-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/2.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ

	.block_drink
		.container
			.name_category-drink
				.title-zone
					h2 Nước ép trái cây
				.btn-view-more
					a(href="product-list.html") Xem tất cả
			.row
				.col-12.col-md-5.col-lg-5.drink-big
					.drink-overview
						a(href="product-detail.html")
							.card_img
								.img
									img(src="./img/product/3.png", alt="")
								.block_sale
									.sale 
										p -15%
						a(href="#").add-to-cart.addtocart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_drink
							a(href="product-list.html") Cà rốt Đà Lạt
						.type-drink
							p Trái cây
						.item-money
							.price
								p 10.500đ / kg
							.discount
								p 90.000đ
				.col-12.col-md-7.col-lg-7.drink-small
					.row
						.col-6.col-md-6.col-lg-4
							.drink-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/3.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.drink-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/3.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.drink-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/3.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.drink-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/3.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.drink-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/3.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-list.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
						.col-6.col-md-6.col-lg-4
							.drink-item
								a(href="product-detail.html")
									.card_img
										.img
											img(src="./img/product/3.png", alt="")
										.block_sale
											.gift
												i.fas.fa-gift
											.sale 
												p -15%
								a(href="#").add-to-cart.addtocart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_product
									a(href="product-detail.html") Cà rốt Đà Lạt
								.item-money
									.price
										p 20.500đ / kg
									.discount
										p 90.000đ
