section.block_privacy-policy
	.container
		.block-title
			.head-title
				h1 chính sách bảo mật
		.row
			.col-12.col-md-3.col-lg-3
				.left-policy
					.title-policy
						h2 Danh mục
					.content-policy
						ul
							li
								a(href="") Chính sách bảo mật thanh toán
							li
								a(href="") Chính sách bảo mật thông tin

			.col-12.col-md-9.col-lg-9
				.privacy-policy
					.title-policy
						h3 Chính sách bảo mật thanh toán
					.caption-policy
						p Hệ thống thanh toán thẻ trên website Tấn Lộc Fruit được cung cấp bởi các đổi tượng thanh toán đã được cấp phép hoạt động hợp pháp tại Việt Nam ("Đối tác thanh toán"), theo đó, các chỉ tiêu, chuẩn bảo mật thanh toán của thẻ Tấn Lộc Fruit đảm bảo tuân thủ theo các tiêu chí chuẩn bảo mật của Đối Tác Công Thanh Toán.
						p Ngoài ra, Tấn Lộc Fruit còn có các tiêu chuẩn mật giao dịch thanh toán riêng đảm bảo an toàn các thông tin thanh toán của khách hàng
					.caption-policy
						.title-zone-policy
							p 1/ Chính sách giao dịch thanh toán bằng thẻ nội địa và thẻ quốc tế đảm bảo tuân thủ các tiêu chuẩn bảo mật của các Đối Tác Công Thanh Toán gồm:
						.desc-policy
							ul
								li
									p Tiêu chuẩn bảo mật dữ liệu trên internet SSL (Secure Sockets Layer) do GlobalSign cấp
								li
									p Chứng nhận bảo mật thông tin dữ liệu thông tin thánh toán (PCI DSS) do Trustwave cung cấp.
								li
									p Tiêu chuẩn mã hóa MD5 128bit.
								li
									p Các nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân hàng theo quy định của Ngạn hàng nhà nước Việt Nam
					.caption-policy
						.title-zone-policy
							p 2/ Chính sách giao dịch thanh toán bằng thẻ nội địa và thẻ quốc tế đảm bảo tuân thủ các tiêu chuẩn bảo mật của các Đối Tác Công Thanh Toán gồm:
						.desc-policy
							ul
								li
									p Tiêu chuẩn bảo mật dữ liệu trên internet SSL (Secure Sockets Layer) do GlobalSign cấp
								li
									p Chứng nhận bảo mật thông tin dữ liệu thông tin thánh toán (PCI DSS) do Trustwave cung cấp.
								li
									p Tiêu chuẩn mã hóa MD5 128bit.
								li
									p Các nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân hàng theo quy định của Ngạn hàng nhà nước Việt Nam
						.desc-policy-client
							p khách hàng truy cập vào website thông qua giao thức HTTP.
							p Khách hàng có tùy chọn sử dụng OTP để truy cập và giao dịch
							p Hệ thông nội bộ giữa các modules của Tấn Lộc Fruit sử dụng các phương thức trao đổi mã hóa keys. Các hệ thông ứng dụng trao đổi dữ liệu nội bộ được mã hóa bằng bộ khóa private & public key đảm bảo tính bảo mật và toàn vẹn dữ liệu
					