section.the-pizza-dangky.main-section
	.container
		.form-wrapper
			h2.main-title THÔNG TIN TÀI KHOẢN
			form(action="")
				.form-radio
					ul
						li.active
							input(type="radio" id="1" name="fruit" value="fruit")
							label(for='') Đặt hàng không cần đăng ký
						li
							input(type="radio" id="2" name="fruit" value="fruit")
							label(for='') Tôi đã có tài khoản
				.tab-wrapper-login
					.tab-item-login.active#login-tab-1
						.wrap-form
							.title-account
								h3 vui lòng đăng nhập
							.form-group
								label(for="") Email
									span *
								input(type="text", name="" value="" placeholder="Email")
							.form-group
								label(for="") Mật khẩu
									span *
								input(type="password", name="" placeholder="Mật khẩu")
							.form-group.passwork
								ul
									li
										a(href="forgot-pass.html") Quên mật khẩu ?
									li
										a(href="registration.html") Đăng ký
							.form-group.form-submit-next
								a(href="information-line.html").submit-next
									span Tiếp tục
							.form-group.form-submit-fb
								a(href="").submit-fb
									em.ri-facebook-fill
									span Đăng nhập bằng facebook
							.form-group.form-submit-gg
								a(href="").submit-gg
									em.ri-google-fill
									span Đăng nhập bằng Google
