section.block_s-4
	.container
		.block-title
			.head-title
				h1 sản phảm dành cho bạn
		.head-menu
			.tab-panels
				ul.tab-navigation-3
					li.active
						a(href="javascript:void(0)" data-type='fruit-people-tab-1') trái cây
					li
						a(href="javascript:void(0)" data-type='fruit-people-tab-2') nước ép
					li
						a(href="javascript:void(0)" data-type='fruit-people-tab-3') rau củ quả
		.tab-wrapper-3.trinity-item-swiper
			.tab-item-3.active#fruit-people-tab-1
				.row
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/1.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/2.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/3.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/4.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/5.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/1.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/2.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/3.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/4.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/5.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/1.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/2.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/3.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/4.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
					.col
						.big_product-people
							.card_img
								.img
									img(src="./img/s-4/5.png", alt="")
								.block_sale
									.gift
										i.fas.fa-gift
									.sale 
										p -15%
							a(href="product-detail.html").add-to-cart
								em.material-icons shopping_basket
								span Thêm giỏ hàng
							.name_product
								a(href="") Cam sành loại 1
							.item-money
								.price
									p 20.500đ / kg
								.discount
									p 90.000đ
				.btn-more
					a(href="") xem thêm
						em.ri-add-line
		.fruit-people-swiper-wrapper
			.nav-arrow-prev
				em.fal.fa-angle-left
			.nav-arrow-next
				em.fal.fa-angle-right
			.swiper-container.slide-fruit
				.swiper-wrapper
					.swiper-slide
						.card_body
							a(href="")
								img(src="./img/s-4/slide-1.png", alt="")
					.swiper-slide
						.card_body
							a(href="")
								img(src="./img/s-4/slide-2.png", alt="")
