section.the-pizza-info-user.main-section
	.container
		.row
			.col-lg-3
				.user-sidebar
					.head-box.userinfo
						p Tài khoản của 
						p.user-name Đào Thị Mỹ Trâm
						p.count Bạn có: 
							span 1500 
							| điểm
					.head-body.user-sidelink
						ul
							li.active
								a(href="information-general.html") Thông tin chung
							li
								a(href="information-member.html") Thông tin thành viên
							li
								a(href="information-history.html") Lịch sử mua hàng
							li
								a(href="information-search.html") Tra cứu đơn hàng
							li
								a(href="information-address.html") Số địa chỉ
			.col-lg-9
				h2.main-title Thông tin thành viên
				.form-wrapper
					.wrap-form
						.form-group
							label(for="") Họ và tên
							input(type="text", name="" value="Đào Thị Mỹ Trâm")
						.form-group
							label(for="") Số điện thoại
							input(type="text", name="" value="0324592766" disabled="disabled")
						.form-group
							label(for="") Email
							input(type="text", name="" value="Hannatrang@gmail.com.vn")
						.form-group
							button(type="submit").btn-creat-acc
								em.mdi.mdi-pencil
								| Cập nhật
