section.news-detail
	.container
		.row
			.col-lg-9
				.card-title
					h1 Ưu đãi Combo Táo Nhật - Nho Úc siêu tiết kiện
					.bottom-wrapper-news-detail
						time 04.03.2020
						ul.social-network-share
							li
								a(href="#").icon
									span.ri-thumb-up-line
									.text Thích
							li
								a(href="#").icon
									.text Chia sẽ
				.content_news-detail
					p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đống đường an cư là điều không dễ dàng.
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu....
					p Nhu cầu đoàn viên mỗi ngày
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu
				.card_img_news-list
					.img
						img(src="./img/news/detail.png", alt="")
				.content_news-detail
					p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đống đường an cư là điều không dễ dàng.
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu....
					p Nhu cầu đoàn viên mỗi ngày
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu
				.card_img_news-list
					.img
						img(src="./img/news/detail.png", alt="")
				.content_news-detail
					p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đống đường an cư là điều không dễ dàng.
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu....
			.col-lg-3
				.right-news
					.card-title-right
						h2 Tin tức khác
					.card_body
						.img 
							img(src="./img/news/n-1.png", alt="")
						.content_news_detail_right
							.title_news_right
								a.lcl.lcl-3(href="") Tokyo nơi có tất cả các món Nhật
							.date
								time 04.03.2020
					.card_body
						.img 
							img(src="./img/news/n-2.png", alt="")
						.content_news_detail_right
							.title_news_right
								a.lcl.lcl-3(href="") Phong cách Nhật thu hút người Việt
							.date
								time 04.03.2020
					.card_body
						.img 
							img(src="./img/news/n-3.png", alt="")
						.content_news_detail_right
							.title_news_right
								a.lcl.lcl-3(href="") Tokyo Deli - Sử dụng ECO
							.date
								time 04.03.2020
					.card_body
						.img 
							img(src="./img/news/n-4.png", alt="")
						.content_news_detail_right
							.title_news_right
								a.lcl.lcl-3(href="") Tokyo nơi có tất cả các món Nhật
							.date
								time 04.03.2020
					.card_body
						.img 
							img(src="./img/news/n-5.png", alt="")
						.content_news_detail_right
							.title_news_right
								a.lcl.lcl-3(href="") Khai trương cửa hàng thứ 15...
							.date
								time 04.03.2020