section.block_s-3
	.container
		.block-title
			.head-title
				h1 sản phẩm khuyến mãi
			.head-menu
				.tab-panels-2
					ul.tab-navigation-2
						li.active
							a(href="javascript:void(0)" data-type='fruit-promotion-tab-1') giảm giá %
						li
							a(href="javascript:void(0)" data-type='fruit-promotion-tab-2') mua 1 tặng 1
			.tab-wrapper-2.trinity-item-swiper
				.tab-item-2.active#fruit-promotion-tab-1
					.home-promotion-swiper-wrapper
						.nav-arrow-prev
							em.fal.fa-angle-left
						.nav-arrow-next
							em.fal.fa-angle-right
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.big_promotion-main
											.card_img
												.img
													img(src="./img/s-3/1.png", alt="")
												.block_sale
													.sale 
														p -15%
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
												span Thêm giỏ hàng
											.name_promotion
												a(href="") Chuối vàng
											.type-promotion
												p Trái cây
											.price
												p 10.500đ / kg
											.discount
												p 90.000đ
								.swiper-slide
									.wrapper
										.big_promotion-main
											.card_img
												.img
													img(src="./img/s-3/2.png", alt="")
												.block_sale
													.sale 
														p -15%
													.gift
														em.fas.fa-gift
													.sale-new
														p NEW
													.sale-hot
														p HOT
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
												span Thêm giỏ hàng
											.name_promotion
												a(href="") Nho đen không hạt Mỹ 1kg
											.type-promotion
												p Trái cây
											.price
												p 180.500đ / kg
											.discount
												p 200.000đ
								.swiper-slide
									.wrapper
										.big_promotion-main
											.card_img
												.img
													img(src="./img/s-3/3.png", alt="")
												.block_sale
													.sale-new
														p NEW
													.sale-hot
														p HOT
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
												span Thêm giỏ hàng
											.name_promotion
												a(href="") Cà chua Đà lạt
											.type-promotion
												p Rau cũ quả
											.price
												p 16.500đ / kg
											.discount
												p 24.000đ
								.swiper-slide
									.wrapper
										.big_promotion-main
											.card_img
												.img
													img(src="./img/s-3/4.png", alt="")
												.block_sale
													.sale 
														p -15%
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
												span Thêm giỏ hàng
											.name_promotion
												a(href="") Đu đủ ruột đỏ
											.type-promotion
												p Trái cây
											.price
												p 20.500đ / kg
											.discount
												p 24.000đ
								.swiper-slide
									.wrapper
										.big_promotion-main
											.card_img
												.img
													img(src="./img/s-3/5.png", alt="")
												.block_sale
													.sale 
														p -15%
											a(href="product-detail.html").add-to-cart
												em.material-icons shopping_basket
												span Thêm giỏ hàng
											.name_promotion
												a(href="") Nước ép táo Ama Time Chile 300ml
											.type-promotion
												p Nước ép
											.price
												p 80.000đ / kg
											.discount
												p 124.000đ
										
