section.registration.main-section
	.container
		.form-wrapper
			.main-title 
				h2 Đăng ký tạo tài khoản
			form(action="")
				.wrap-form
					.form-group
						label(for="") Tên tài khoản
						input(type="text", name="" value="" placeholder="")
					.form-group
						label(for="") Email
						input(type="text", name="" value="" placeholder="")
					.form-group
						label(for="") Mật khẩu
						input(type="text", name="" value="" placeholder="")
					.form-group
						label(for="") Xác nhận mật khẩu
						input(type="text", name="" value="" placeholder="")
					.form-group
						label(for="") Tên
						input(type="text", name="" value="" placeholder="")
					.form-group
						label(for="") Họ
						input(type="text", name="" value="" placeholder="")
					.form-group.form-passwork
						input(type="submit" value ="Tạo tài khoản")
