section.the-pizza-history.main-section
	.container
		.row
			.col-lg-3
				.user-sidebar
					.head-box.userinfo
						p Tài khoản của 
						p.user-name Đào Thị Mỹ Trâm
						p.count Bạn có: 
							span 1500 
							| điểm
					.head-body.user-sidelink
						ul
							li.active
								a(href="information-general.html") Thông tin chung
							li
								a(href="information-member.html") Thông tin thành viên
							li
								a(href="information-history.html") Lịch sử mua hàng
							li
								a(href="information-search.html") Tra cứu đơn hàng
							li
								a(href="information-address.html") Số địa chỉ
			.col-lg-9
				h2.main-title Lịch sử mua hàng
				.table-history
					table
						thead
							tr
								th Mã
								th Sản phẩm
								th Ngày mua
								th Tổng tiền
								th Trạng thái
						tbody
							tr
								td(data-label="Mã")
									a.code(href="#") 200515001
								td(data-label="Sản phẩm")
									a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
								td(data-label="Ngày mua")
									time 20/5/2020
								td(data-label="Tổng tiền") 595.000đ
								td(data-label="Trạng thái") 
									p.new Mới
							tr
								td(data-label="Mã")
									a.code(href="#") 200515001
								td(data-label="Sản phẩm")
									a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
								td(data-label="Ngày mua")
									time 20/5/2020
								td(data-label="Tổng tiền")  595.000đ
								td(data-label="Trạng thái") 
									p Giao hàng
							tr
								td(data-label="Mã")
									a.code(href="#") 200515001
								td(data-label="Sản phẩm")
									a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
								td(data-label="Ngày mua")
									time 20/5/2020
								td(data-label="Tổng tiền")  595.000đ
								td(data-label="Trạng thái") 
									p.cancel Huỷ
							tr
								td(data-label="Mã")
									a.code(href="#") 200515001
								td(data-label="Sản phẩm")
									a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
								td(data-label="Ngày mua")
									time 20/5/2020
								td(data-label="Tổng tiền") 595.000đ
								td(data-label="Trạng thái") 
									p Giao hàng
							tr
								td(data-label="Mã")
									a.code(href="#") 200515001
								td(data-label="Sản phẩm")
									a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
								td(data-label="Ngày mua")
									time 20/5/2020
								td(data-label="Tổng tiền") 595.000đ
								td(data-label="Trạng thái") 
									p Giao hàng
							tr
								td(data-label="Mã")
									a.code(href="#") 200515001
								td(data-label="Sản phẩm")
									a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
								td(data-label="Ngày mua") 
									time 20/5/2020
								td(data-label="Tổng tiền") 595.000đ
								td(data-label="Trạng thái") 
									p Giao hàng
							tr
								td(data-label="Mã")
									a.code(href="#") 200515001
								td(data-label="Sản phẩm")
									a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
								td(data-label="Ngày mua")
									time 20/5/2020
								td(data-label="Tổng tiền") 595.000đ
								td(data-label="Trạng thái") 
									p Giao hàng
					.main-pagination
						ul.pagination
							li.page-item.current-page.active
								a(href="#").page-link 1
							li.page-item.individual-page
								a(href="#").page-link 2
							li.page-item.individual-page
								a(href="#").page-link 3
							li.page-item.individual-page
								a(href="#").page-link 4
							li.page-item.next-page
								a(href="#").page-link 
									em.mdi.mdi-chevron-right
