section.the-pizza-info.main-section
	.container
		.row
			.col-lg-3
				.user-sidebar
					.head-box.userinfo
						p Tài khoản của 
						p.user-name Đào Thị Mỹ Trâm
						p.count Bạn có: 
							span 1500 
							| điểm
					.head-body.user-sidelink
						ul
							li.active
								a(href="information-general.html") Thông tin chung
							li
								a(href="information-member.html") Thông tin thành viên
							li
								a(href="information-history.html") Lịch sử mua hàng
							li
								a(href="information-search.html") Tra cứu đơn hàng
							li
								a(href="information-address.html") Số địa chỉ
			.col-lg-9
				h2.main-title Thông tin chung
				.table-address
					table
						tr
							td.title(colspan="2") Thông tin tài khoản
							td.edit-wrapper.td-edit
								a(href="#").edit
									em.mdi.mdi-pencil
									| Chỉnh sửa
						tr
							td.td-title Họ và tên:
							td(colspan="2") Đào Thị Mỹ Trâm
						tr
							td.td-title Số điện thoại:
							td(colspan="2") 0324592766
						tr
							td.td-title Email:
							td(colspan="2") Hannatrang@gmail.com
				.table-address
					table
						tr
							td.title(colspan="2") Sổ địa chỉ
							td.edit-wrapper.td-edit
								a(href="#").edit
									em.mdi.mdi-pencil
									| Chỉnh sửa
						tr
							td.td-title Tên:
							td(colspan="2") Băng Tâm
						tr
							td.td-title Địa chỉ:
							td(colspan="2") 2/15 Cao Thắng, Phường 5, Quận 3, Hồ Chí Minh, Việt Nam
						tr
							td.td-title Điện thoại:
							td(colspan="2") 0908 406 524
				.order-old
					p.title Đơn hàng gần đây
					.table-history
						table
							thead
								tr
									th Mã
									th Sản phẩm
									th Ngày mua
									th Tổng tiền
									th Trạng thái
							tbody
								tr
									td
										a.code(href="#") 200515001
									td 
										a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
									td
										time 20/5/2020
									td 595.000đ
									td
										p.new Mới
								tr
									td
										a.code(href="#") 200515001
									td 
										a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
									td
										time 20/5/2020
									td 595.000đ
									td
										p Giao hàng
								tr
									td
										a.code(href="#") 200515001
									td 
										a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
									td
										time 20/5/2020
									td 595.000đ
									td
										p.cancel Huỷ
								tr
									td
										a.code(href="#") 200515001
									td 
										a(href="#").name Combo mua 1 tặng 1, 1 7 Up, 1 Pepsi...
									td
										time 20/5/2020
									td 595.000đ
									td
										p Giao hàng
