section.block_about
	.container
		.block-title
			.head-title
				h1 giới thiệu
		.row
			.col-12.col-md-6.col-lg-6.big-about
				.card_img
					.img
						img(src="./img/about/1.png", alt="")
			.col-12.col-md-6.col-lg-6.big-about
				.content-about
					p Thành lập từ 2005, TẤN LỘC FRUIT là nhà phân phối chính trái cây tươi ngon sạch an toàn cho các hệ thống siêu thị lớn trên cả nước như: Big C, Vinmart... Hiện TẤN LỘC FRUIT nằm trong Top 3 nhà cung cấp trái cây có tiếng trên toàn thị trường Việt.
					p Công ty Cổ Phần Thương Mại Xuất Khẩu trái cây Tấn Lộc (tên tiếng anh: TAN LOC FRUIT IMPORT EXPORT TRADING JONIT STOCK COMPANY, viết tắt: TL FRUIT JSC) đã không ngừng phát triển suốt 15 năm qua để trở thành doanh nghiệp xuất khẩu trái cây hàng đầu như hiện nay.
		.row
			.col-12.col-md-6.col-lg-6.big-about
				.card_img
					.img
						img(src="./img/about/2.png", alt="")
			.col-12.col-md-6.col-lg-6.big-about
				.row
					.col-12.col-sm-2.col-lg-2
						.fruit-img
							ul
								li
									.img
										img(src="./img/about/small-4.png", alt="")
								li
									.img
										img(src="./img/about/small-2.png", alt="")
								li
									.img
										img(src="./img/about/small-3.png", alt="")
								li
									.img
										img(src="./img/about/small-1.png", alt="")
					.col-12.col-sm-10.col-lg-10
						.content-about
							p TẤN LỘC FRUIT chuyên cung cấp các loại trái cây phổ biến như: Ổi, Bưởi, Chôm chôm, Xoài, Chuối, Khoai lang, Sapoche, cam sành, dưa lê, đu đủ, dừa, măng cụt, mận, mãng cầu, nhãn, táo, quyết, vũ sữa, sầu riêng, dứa...
							p Ngoài ra cung cấp trái cây cho các siêu thị lớn, TẤN LỘC FRUIT đang tiến hành mở rộng thêm các kênh phân phối bán lẻ chuyên cung cấp trái cây cho hệ thống siêu thị mini, shop trái cây và hoa quả sạch, Shop online, thương mại buồn bán trái cây, bán lẻ trực tiếp đến người tiêu dùng thông qua webiste thương mại trực tuyến
						.link-website
							ul
								li
									a(href="") www.tanlocfruit.com ,
								li
									a(href="") www.traicaytanloc.com.vn

section.block_about-2
	.container
		.row
			.col-lg-5
				.about-2
					p Hướng đến sức khỏe người tiêu dùng trong nước, TẤN LỘC FRUIT luôn theo sát các nhà vườn, trang trại và hợp tác trong nước nhằm đảm bảo chất lượng cao theo quy trình từ khâu chọn đất trong, chăm sóc trái, thu hoạch, đống gói, lưu trữ kho lạnh đạt chuẩn VietCAP, 100% tươi sạch, không dư lượng thuốc, không chất bảo quản và vận chuyển đến khách hàng, bảo vệ sức khỏe cho người tiêu dùng Việt và hướng tới khuyến khích phát triển trái cây sạch trong nước.
			.col-lg-7


section.block_about-3
	.container
		.row
			.col-12.col-md-6.col-lg-6
				.about-logo
					.img
						img(src="./img/about/logo-about.png", alt="")
			.col-12.col-md-6.col-lg-6
				.about-3
					ul
						li
							.icon-about
								img(src="./img/about/icon.png", alt="")
							.text-about
								p Hệ thống giao hàng xe lạnh chuyên nghiệp vận chuyển hàng hóa gắn nhiệt kế kiểm soát độ ổn định sẵn sàng phục vụ khi khách hàng có nhu nhầu
						li
							.icon-about
								img(src="./img/about/icon-2.png", alt="")
							.text-about
								p Đội ngũ nhân viên chuyên môn cao cùng tham gia quá trình bán hàng, Marketing, xây dựng thương hiệu, quản lý chất lượng sản phẩm
	.about-fruit-3
		.container
			.row
				.col-12.col-md-6.col-lg-6.bg-about-3
					.background
						.img
							img(src="./img/about/about-icon-2.png", alt="")
					.content-about-3
						p Trong tương lai, TẤN LỘC FRUIT dự kiến sẽ "lấn sân" chinh phục các thị trường lớn khác trên toàn cầu, mở rộng đa dạng ngành hàng như trái cây sấy khô, nước ép, chuỗi cửa hàng trái cây sạch... từ 100% nguyên liệu sẵn có, không phụ gia, không chất bảo quản, giữ được hương vị tự nhiên và thành phần dinh dưỡng của trái cây thiên nhiên, không chứa cholesterol, mang đến nhiều món dinh dưỡng tốt cho sức khỏe.
				.col-12.col-md-6.col-lg-6.bg-about-3
					.background
						.img 
							img(src="./img/about/about-icon.png", alt="")
					.content-about-3
						p Với mục tiêu chất lượng hàng đầu, TẤN LỘC FRUIT sẽ là nhà cung cấp uy tín và đáng tin cậy của các đối tác trong và ngoài nước.
						p Đến với TẤN LỘC FRUIT, khách hàng hoàn toàn yên tâm về chất lượng sản phẩm, đảm bảo số lượng hàng được giao và thời gian giao hàng hiệu quả nhất.
