extends _layout.pug

block var
	- var title = 'Đăng nhập'
	- var bodyClass = 'information-account-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/cart/information-no-account/index.pug