extends _layout.pug

block var
	- var title = 'Tra cứu thẻ'
	- var bodyClass = 'information-search-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/information/information-search/index.pug

