extends _layout.pug

block var
	- var title = 'Địa chỉ'
	- var bodyClass = 'information-address-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/information/information-address/index.pug
