extends _layout.pug

block var
	- var title = 'Tạo tài khoản'
	- var bodyClass = 'registration-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/cart/registration/index.pug