extends _layout.pug

block var
	- var title = 'Hỗ trợ khách hàng'
	- var bodyClass = 'support-client-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/support-client/index.pug
	include ../components/pagination/index.pug