section.block_news-list
	.container
		.block-title
			.head-title
				h1 tin tức - sự kiện
			.head-menu
				ul
					li.active
						a(href="") tin khuyến mãi
					li
						a(href="") tin tức
		.row
			.col-12.col-md-6.col-lg-8
				.big-news
					a(href="news-detail.html")
						.card_img
							.img.zoom-in
								img(src="./img/news/n-1.png", alt="")
					.content-news
						.title-news
							a(href="news-detail.html") Ưu đãi Combo Táo Nhật - Nho Úc siêu tiết kiện
						.title-zone-news
							p Tấn Lộc Fruit gửi tặng tôi khách hàng chương trình ưu đãi với combo Fuiji Nhật - Nho - Úc: khi mua 1kg táo Fuij Nhật được mua tối đa 0,5kg nho đỏ không hạt Úc chủng Jack Salute giá chỉ 49.000đ
						.date
							time 04.03.2020
			.col-12.col-md-6.col-lg-4
				.small-news
					a(href="news-detail.html")
						.card_img
							.img.zoom-in
								img(src="./img/news/n-2.png", alt="")
					.content-small-news
						.title-small
							a(href="news-detail.html") Ưu đãi tháng 10 mua online
						.title-zone-small
							p Để tiếp nối chuỗi trải nghiệm mua
						.date
							time 04.03.2020
				.small-news
					.card_img
						a(href="news-detail.html")
							.img.zoom-in
								img(src="./img/news/n-3.png", alt="")
					.content-small-news
						.title-small
							a(href="news-detail.html") Ưu đãi tháng 10 mua online
						.title-zone-small
							p Để tiếp nối chuỗi trải nghiệm mua
						.date
							time 04.03.2020
				.small-news
					a(href="news-detail.html")
						.card_img
							.img.zoom-in
								img(src="./img/news/n-4.png", alt="")
					.content-small-news
						.title-small
							a(href="news-detail.html") Ưu đãi tháng 10 mua online
						.title-zone-small
							p Để tiếp nối chuỗi trải nghiệm mua
						.date
							time 04.03.2020
				.small-news
					a(href="news-detail.html")
						.card_img
							.img.zoom-in
								img(src="./img/news/n-5.png", alt="")
					.content-small-news
						.title-small
							a(href="news-detail.html") Ưu đãi tháng 10 mua online
						.title-zone-small
							p Để tiếp nối chuỗi trải nghiệm mua
						.date
							time 04.03.2020
		.row
			.col-12.col-md-6.col-lg-3
				a(href="news-detail.html")
					.news_img
						.img.zoom-in
							img(src="./img/news/1.png", alt="")
				.content-fruit
					.title-fruit
						a(href="news-detail.html") Miễn phí giao hàng, sẵn sáng săn deal
					.date
						time 04.03.2020
			.col-12.col-md-6.col-lg-3
				a(href="news-detail.html")
					.news_img
						.img.zoom-in
							img(src="./img/news/2.png", alt="")
				.content-fruit
					.title-fruit
						a(href="news-detail.html") Trở thành viên, nhận ngay ữu đãi
					.date
						time 04.03.2020
			.col-12.col-md-6.col-lg-3
				a(href="news-detail.html")
					.news_img
						.img.zoom-in
							img(src="./img/news/3.png", alt="")
				.content-fruit
					.title-fruit
						a(href="news-detail.html") Quốc tế phụ nữa 20/10 khuyến mãi lớn dành cho
					.date
						time 04.03.2020
			.col-12.col-md-6.col-lg-3
				a(href="news-detail.html")
					.news_img
						.img.zoom-in
							img(src="./img/news/4.png", alt="")
				.content-fruit
					.title-fruit
						a(href="news-detail.html") Đón mùa halloween với ữu đãi 10% dành cho các thực
					.date
						time 04.03.2020
			.col-12.col-md-6.col-lg-3
				a(href="news-detail.html")
					.news_img
						.img.zoom-in
							img(src="./img/news/5.png", alt="")
				.content-fruit
					.title-fruit
						a(href="news-detail.html") Miễn phí giao hàng, sẵn sáng săn deal
					.date
						time 04.03.2020
			.col-12.col-md-6.col-lg-3
				a(href="news-detail.html")
					.news_img
						.img.zoom-in
							img(src="./img/news/6.png", alt="")
				.content-fruit
					.title-fruit
						a(href="news-detail.html") Miễn phí giao hàng, sẵn sáng săn deal
					.date
						time 04.03.2020
			.col-12.col-md-6.col-lg-3
				a(href="news-detail.html")
					.news_img
						.img.zoom-in
							img(src="./img/news/7.png", alt="")
				.content-fruit
					.title-fruit
						a(href="news-detail.html") Đón mùa halloween với ữu đãi 10% dành cho các thực
					.date
						time 04.03.2020
			.col-12.col-md-6.col-lg-3
				a(href="news-detail.html")
					.news_img
						.img.zoom-in
							img(src="./img/news/8.png", alt="")
				.content-fruit
					.title-fruit
						a(href="news-detail.html") Đón mùa halloween với ữu đãi 10% dành cho các thực
					.date
						time 04.03.2020
		.btn-more
			a(href="") xem thêm
				em.ri-add-line

