section.block_order-success
	.container
		.checkout-complete
			.card-heading
				.card-title
					img(src="./img/product/8.png", alt="")
					.text đặt hàng thành công
			.card-body
				.row
					.col-lg-5
						.img.text-center
							img(src="./img/product/complete.png", alt="")
					.col-lg-7
						.article-content.leading-relaxed
							.desc-complete
								p Mã Đơn hàng của bạn là: 
									span #201110005
								p Hiện tại đơn hàng của bạn đang được xử lý.
								p Thông tin chi tiết đơn hàng sẽ được gửi đến hộp thư của bạn:
								a(href="").text-cyan phamhoangquy99vn@gmail.com
							.desc-complete
								p Mọi thắc mắc xin vui lòng liên hệ:
								p Hotline: 
									span 1800 0010
								p Email:
								a(href="").text-cyan cskh@tanlocfruit.com.vn
							.desc-complete
								p Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn sẽ được xử lý trong thời gian sớm nhất. Chúng tôi sẽ liên hệ lại với bạn để xác nhận yêu cầu và giao hàng.
