section.error-404
	.container
		.row
			.col-lg-10
				.content-error
					.text-error 404
					.caption-error Không Tìm Thấy
					.note-error Xin lỗi, nhưng trang bạn yêu cầu không được tìm thấy. Vui lòng kiểm tra lại