section.home-banner
	.container
		.row
			.col-12.col-md-8.col-lg-8
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.wrapper
								a
									img(src="./img/s-1/banner.png", alt="")
							.caption
								.btn-to-buy
									a(href="") Mua Ngay
										em.fal.fa-angle-right
						.swiper-slide
							.wrapper
								a
									img(src="./img/s-1/banner.png", alt="")
							.caption
								.btn-to-buy
									a(href="") Mua Ngay
										em.fal.fa-angle-right
					.swiper-pagination.home-banner-pagination
			.col-12.col-md-4.col-lg-4
				.row
					.col-lg-12
						.figure-media
							.figure-image.media-play
								.video_banner
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/s-1/banner-2.png", alt="")
								.caption
									.icon
										img(src="./img/s-1/icon.png", alt="")
					.col-lg-12
						.banner_img
							.img
								img(src="./img/s-1/banner-3.png", alt="")
