section.block_store-product
	.container
		.block-title
			.head-title
				h1 cửa hàng
		.row
			.col-lg-3
				.srcoll-branch
					.branch-one
						.title-branch
							h2 Chi nhánh 1
						ul
							li
								.icon
									em.ri-map-pin-2-fill
								.address-store
									p Địa chỉ: Tầng 4A, VinCom Center, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Thành phố HCM
							li
								.icon
									em.ri-phone-fill
								.address-store
									p Điện thoại: 0123456789
							li
								.icon
									em.ri-printer-fill
								.address-store
									p Fax: 027456789
							li
								.icon
									em.ri-mail-line
								.address-store
									p Email: contact@tanlocfruit.com
					.branch-two
						.title-branch
							h2 Chi nhánh 2
						ul
							li
								.icon
									em.ri-map-pin-2-fill
								.address-store
									p Địa chỉ: Tầng 4A, VinCom Center, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Thành phố HCM
							li
								.icon
									em.ri-phone-fill
								.address-store
									p Điện thoại: 0123456789
							li
								.icon
									em.ri-printer-fill
								.address-store
									p Fax: 027456789
							li
								.icon
									em.ri-mail-line
								.address-store
									p Email: contact@tanlocfruit.com
					.branch-three
						.title-branch
							h2 Chi nhánh 3
						ul
							li
								.icon
									em.ri-map-pin-2-fill
								.address-store
									p Địa chỉ: Tầng 4A, VinCom Center, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Thành phố HCM
							li
								.icon
									em.ri-phone-fill
								.address-store
									p Điện thoại: 0123456789
							li
								.icon
									em.ri-printer-fill
								.address-store
									p Fax: 027456789
							li
								.icon
									em.ri-mail-line
								.address-store
									p Email: contact@tanlocfruit.com

			.col-lg-9
				.map-wrapper
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19896.2391182464!2d106.67608946496217!3d10.772064938675168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f26de7d8973%3A0x8d5075f38e1bf491!2zNTA2LCAxNyBCYSBUaMOhbmcgSGFpLCBwaMaw4budbmcgMTEsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1590154490382!5m2!1svi!2s',  frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0',width="100%",height="500px")

