section.block_support
	.container
		.block-title
			.head-title
				h1 hỗ trợ khách hàng
		.row
			.col-12.col-md-3.col-lg-3
				.left-support
					.title-sp
						h2 Danh mục
					.content-sp
						ul
							li
								a(href="") FAQs
							li
								a(href="") Chính sách đổi trả
							li
								a(href="") Cách thức đặt hàng
							li
								a(href="") Dịch vụ giao hàng

			.col-12.col-md-9.col-lg-9
				.sp-client
					.title-sp
						h3 FAQs
					ul.big-togglesupport
						li
							a.togglesupport 01. Làm sao biết thực phẩm Tấn Lộc Fruit có đảm bảo chất lượng không?
							.content
								.caption
									p Các sản phẩm tại Tấn Lộc Fruit có nguồn gốc xuất sứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà hàng cung cấp lớn hơn. Tấn lộc sẵn sáng cung cấp giấy chứng nhận thực phẩm sạch - an toàn để Quý khách có thể yên tâm mua hàng.
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.
						li
							a.togglesupport 02. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.
						li
							a.togglesupport 03. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.
						li
							a.togglesupport 04. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.
						li
							a.togglesupport 05. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.
						li
							a.togglesupport 06. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.
						li
							a.togglesupport 07. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.
						li
							a.togglesupport 08. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.
						li
							a.togglesupport 09. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.
						li
							a.togglesupport 10. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Để biết thêm chi tiết về sản phẩm tại Tấn Lộc Fruit, Quý khách vui lòng xem qua mổ tả sản phẩm hoặc gọi điện Hotline để được hỗ trợ tư vấn.