section.block_product-detail
	.container
		.title-detail
			h1 Dưa lê giống Hàn Quốc
			ul.social-network-share
				li
					a(href="").icon
						span.ri-heart-line
				li
					a(href="#").icon
						span.ri-thumb-up-line
						.text Thích
				li
					a(href="#").icon
						.text Chia sẽ
		.row
			.col-12.col-md-5.col-lg-5
				.project_detail_slide
					.swiper-container.gallery-top
						.swiper-wrapper
							.swiper-slide
								img(src="./img/s-3/1.png", alt="")
							.swiper-slide
								img(src="./img/product/oi.png", alt="")
							.swiper-slide
								img(src="./img/s-3/2.png", alt="")
							.swiper-slide
								img(src="./img/s-3/3.png", alt="")
							.swiper-slide
								img(src="./img/s-3/4.png", alt="")
							.swiper-slide
								img(src="./img/s-3/1.png", alt="")
						.nav-prev
							em.fal.fa-chevron-left
						.nav-next
							em.fal.fa-chevron-right
					.swiper-container.gallery-thumbs
						.swiper-wrapper
							.swiper-slide
								img(src="./img/s-3/1.png", alt="")
							.swiper-slide
								img(src="./img/product/oi.png", alt="")
							.swiper-slide
								img(src="./img/s-3/2.png", alt="")
							.swiper-slide
								img(src="./img/s-3/3.png", alt="")
							.swiper-slide
								img(src="./img/s-3/4.png", alt="")
							.swiper-slide
								img(src="./img/s-3/1.png", alt="")
			.col-12.col-md-7.col-lg-7
				.icon-star
					ul
						li
							span.ri-star-fill
						li
							span.ri-star-fill
						li
							span.ri-star-fill
						li
							span.ri-star-fill
						li
							span.ri-star-fill
					.text-star 165 đánh giá
				.product-infor
					.name
						p Thương hiệu:
							span Markal
						p Mã sản phẩm:
							span 01214759466
					.status
						p Tình trạng:
							span Còn hàng
				.product-description
					.box_price
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ
						.saving
							p Tiết kiệm:
								span 13% (14.500 đ)
					ul.box-description
						li
							p Giàu vitamin C
						li
							p Giàu hàm lượng Cali
						li
							p Quả hình tròn dài 13 - 16 cm rộng 7 – 9 cm
						li
							p Vị giòn chắc, hạt nhỏ màu trắng, mùi thơm nhẹ
						li
							p Tốt cho tim mạch, Hỗ trợ đường ruột, Làm đẹp da
				.item-amount
					.text-display
						p Só lượng:
					.box-addtocart
						.display 
							select
								option 10
						.addtocart
							em.material-icons shopping_basket
							a(href="") Thêm vào giỏ
				.box-opiton
					.option
						.img
							img(src="img/header/menu-3.png" alt="")
						.ship
							p Giao hàng tận nơi
							a(href="") Chi tiết
					.option
						.img
							img(src="img/header/menu-4.png" alt="")
						p 100% Tươi sạch
					.option
						.img
							img(src="img/header/menu-2.png" alt="")
						p Nguồn gốc rõ ràng

	.block_buywidth
		.container
			.title_buywith
				h3 Thường được mua cùng:
			.buywidth-img
				.img
					img(src="./img/s-3/1.png", alt="")
				.img
					img(src="./img/s-3/1.png", alt="")
				.img
					img(src="./img/s-3/1.png", alt="")
				.img
					img(src="./img/s-3/1.png", alt="")
				.img
					img(src="./img/s-3/1.png", alt="")
			.row
				.col-12.col-md-4.col-lg-4
					.product-buywidth
						input(type='checkbox' name='' value='')
						span Dưa lưới giống Nhật ruột cam (1 kg)
					.product-buywidth
						input(type='checkbox' name='' value='')
						span Nước ép chanh dây (1 chai)
					.product-buywidth
						input(type='checkbox' name='' value='')
						span Nước ép chanh dây (1 chai)
				.col-12.col-md-2.col-lg-2
					.product-buywidth
						span 129.000 đ / kg
					.product-buywidth
						span 129.000 đ / kg
					.product-buywidth
						span 129.000 đ / kg
				.col-12.col-md-4.col-lg-4
					.product-buywidth
						input(type='checkbox' name='' value='')
						span Nước ép kiwi hạt chia
					.product-buywidth
						input(type='checkbox' name='' value='')
						span Nước ép chanh dây (1 chai)
				.col-12.col-md-2.col-lg-2
					.product-buywidth
						span 129.000 đ / kg
					.product-buywidth
						span 129.000 đ / kg
			.total
				p Tổng tiền:
					span 129.000đ

			a(href="").add-to-cart
				em.material-icons shopping_basket
				span Thêm sản phẩm vào giỏ hàng
section.block_product-detail-2
	.container
		.box-title
			h2 sản phẩm bán chạy
		.product-detail-2-swiper-wrapper
			.nav-arrow-prev
				em.fal.fa-angle-left
			.nav-arrow-next
				em.fal.fa-angle-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
								a(href="").add-to-cart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_promotion
									a(href="") Chuối vàng
								.type-promotion
									p Trái cây
								.price
									p 10.500đ / kg
								.discount
									p 90.000đ
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
								a(href="").add-to-cart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_promotion
									a(href="") Chuối vàng
								.type-promotion
									p Trái cây
								.price
									p 10.500đ / kg
								.discount
									p 90.000đ
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
								a(href="").add-to-cart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_promotion
									a(href="") Chuối vàng
								.type-promotion
									p Trái cây
								.price
									p 10.500đ / kg
								.discount
									p 90.000đ
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
								a(href="").add-to-cart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_promotion
									a(href="") Chuối vàng
								.type-promotion
									p Trái cây
								.price
									p 10.500đ / kg
								.discount
									p 90.000đ
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/s-3/1.png", alt="")
									.block_sale
										.sale 
											p -15%
								a(href="").add-to-cart
									em.material-icons shopping_basket
									span Thêm giỏ hàng
								.name_promotion
									a(href="") Chuối vàng
								.type-promotion
									p Trái cây
								.price
									p 10.500đ / kg
								.discount
									p 90.000đ
section.block_product-detail-3
	.container
		.row
			.col-12.col-md-9.col-lg-9
				.tab-description
					ul.tab-navigation
						li.active
							a(href="javascript:void(0)" data-type='fruit-detail-tab-1') Mô tả nổi bật
						li
							a(href="javascript:void(0)" data-type='fruit-detail-tab-2') Thông số
						li
							a(href="javascript:void(0)" data-type='fruit-detail-tab-3') Chi tiết sẩn phẩm
						li
							a(href="javascript:void(0)" data-type='fruit-detail-tab-4') Hướng dẫn sử dụng
				.content-description
					.tab-wrapper
						.tab-item.active#fruit-detail-tab-1
							.fullcontent
								p Dưa lê giống Hàn Quốc được trồng theo chuẩn qui trình VietGap ( Sạch + ) với các đặc điểm nổi bật:
								p - Bên ngoài có màu vàng ngọc sọc trắng đẹp mắt
								p - Độ ngọt: 12+
								p - Size: 0,5 -0,8kg/1 quả
								p - Dưa lứa vừa, độ ngọt vừa phải, không ngọt đậm như các dòng dưa khác nên thích họp cho những mẹ không thích ăn quả ngọt. Ngon hơn khi bảo quản mát.
								p - Dưa vừa thu hái, cuống còn tươi, mẹ để ngoài thêm vài hôm cho lắng đường, sau đấy bỏ tủ mát thì ăn sẽ ngọt hơn ạ.
								strong Công cụ của sản phẩm
								p - Giúp đẹp da
								p - Hỗ trợ đường ruột
								p - Giúp giảm cân
								p - Giúp tăng cường trí nhớ
								p - Tốt cho tim mạch, huyết áp
						.tab-item.active#fruit-detail-tab-2
							.fullcontent
								p Dưa lê giống Hàn Quốc được trồng theo chuẩn qui trình VietGap ( Sạch + ) với các đặc điểm nổi bật:
								p - Bên ngoài có màu vàng ngọc sọc trắng đẹp mắt
								p - Độ ngọt: 12+
								p - Size: 0,5 -0,8kg/1 quả
								p - Dưa lứa vừa, độ ngọt vừa phải, không ngọt đậm như các dòng dưa khác nên thích họp cho những mẹ không thích ăn quả ngọt. Ngon hơn khi bảo quản mát.
								p - Dưa vừa thu hái, cuống còn tươi, mẹ để ngoài thêm vài hôm cho lắng đường, sau đấy bỏ tủ mát thì ăn sẽ ngọt hơn ạ.
						.tab-item.active#fruit-detail-tab-3
							.fullcontent
								p Dưa lê giống Hàn Quốc được trồng theo chuẩn qui trình VietGap ( Sạch + ) với các đặc điểm nổi bật:
								p - Bên ngoài có màu vàng ngọc sọc trắng đẹp mắt
								p - Độ ngọt: 12+
								p - Size: 0,5 -0,8kg/1 quả
						.tab-item.active#fruit-detail-tab-4
							.fullcontent
								p Dưa lê giống Hàn Quốc được trồng theo chuẩn qui trình VietGap ( Sạch + ) với các đặc điểm nổi bật:
								p - Bên ngoài có màu vàng ngọc sọc trắng đẹp mắt


				.block_reviews
					.reviews
						.title_reviews
							h3 đánh giá sản phẩm
						.reviews_body
							.reviews-left
								.number_reviews
									p 5/5
								.star_reviews
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
								.number-detail_reviews
									p 165 đánh giá
							.reviews-center
								.one-reviews
									.number_reviews
										p 5
										i.fas.fa-star
									.percent_reviews
										.percent-detail_reviews
									.number-detail_reviews
										p 99% | 165 đánh giá
								.one-reviews
									.number_reviews
										p 4
										i.fas.fa-star
									.percent_reviews
									.number-detail_reviews
										p 0% | 0 đánh giá
								.one-reviews
									.number_reviews
										p 3
										i.fas.fa-star
									.percent_reviews
									.number-detail_reviews
										p 0% | 0 đánh giá
								.one-reviews
									.number_reviews
										p 2
										i.fas.fa-star
									.percent_reviews
									.number-detail_reviews
										p 0% | 0 đánh giá
								.one-reviews
									.number_reviews
										p 1
										i.fas.fa-star
									.percent_reviews
									.number-detail_reviews
										p 0% | 0 đánh giá
							.reviews-right
								.title
									p Chia sẻ nhận xét về sản phẩm
								a(href="") Gửi nhận xét
					.wrap-form
						.form-group
							textarea.form-control(rows='4',placeholder="Nội dung")
						.form-bot
							.form-reviews
								p Đánh giá aaaaaaaa
							.form-group
									input.form-control(type='text', placeholder="Họ tên (Bắt buộc)")
							.form-group
									input.form-control(type='text', placeholder="Email")
							.form-group
									input.form-control(type='text', placeholder="Số điện thoại")
							.frm-btnwrap
								.frm-btn
									input(type="submit" value ="Gửi")
					.comment
						.title_cmt
							h3 Tất cả bình luận
						-for(i=1;i<=4;i++)
							.content_cmt
								.logo
									img(src="./img/product/logouser.jpg", alt="")
								.content
									.user
										a(href="") Trần Nam Anh
									.text
										p Dưa tươi ngon, giòn ngọt rất hợp vị. Vận chuyển tốt, an toàn không bị bong tróc hay ảnh hưởng đến sản phẩm. Sẽ ủng hộ lâu dài.
										.reply
											a(href="") Trả lời
											p.date 12 Tháng 6 2020 1:48

						
			.col-12.col-md-3.col-lg-3
				.title-viewed-products
					h3 Sản phẩm đã xem
				.block_viewed-products
					.big_product
						.card_img
							.img
								img(src="./img/s-3/1.png", alt="")
							.block_sale
								.sale 
									p -15%
								.sale-new
									p NEW
						a(href="").add-to-cart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_promotion
							a(href="product-detail.html") Chuối vàng
						.type-promotion
							p Trái cây
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ
					.big_product
						.card_img
							.img
								img(src="./img/s-3/1.png", alt="")
							.block_sale
								.sale 
									p -15%
						a(href="").add-to-cart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_promotion
							a(href="product-detail.html") Chuối vàng
						.type-promotion
							p Trái cây
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ
					.big_product
						.card_img
							.img
								img(src="./img/s-3/1.png", alt="")
							.block_sale
								.sale 
									p -15%
						a(href="").add-to-cart
							em.material-icons shopping_basket
							span Thêm giỏ hàng
						.name_promotion
							a(href="product-detail.html") Chuối vàng
						.type-promotion
							p Trái cây
						.price
							p 10.500đ / kg
						.discount
							p 90.000đ
	
	
section.block_product-detail-4
	.container
		.block-title
			.head-title
				h1 sản phẩm mới
		.detail-4-swiper-wrapper
			.nav-arrow-prev
				em.fal.fa-angle-left
			.nav-arrow-next
				em.fal.fa-angle-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/product/oi.png", alt="")
									.block_sale
										.sale
											p NEW
								.name_promotion
									a(href="") Ổi xanh tươi
								.price
									p 10.500đ / kg
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.block_sale
										.sale
											p NEW
								.name_promotion
									a(href="") Mận đỏ Đà Lạt
								.price
									p 10.500đ / kg
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/product/2.png", alt="")
									.block_sale
										.sale
											p NEW
								.name_promotion
									a(href="") Cà rốt Đà Lạt
								.price
									p 10.500đ / kg
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.block_sale
										.sale
											p NEW
								.name_promotion
									a(href="") Mận đỏ Đà Lạt
								.price
									p 10.500đ / kg
					.swiper-slide
						.wrapper
							.big_promotion-main
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.block_sale
										.sale
											p NEW
								.name_promotion
									a(href="") Mận đỏ Đà Lạt
								.price
									p 10.500đ / kg